# CODEOWNERS for .project metadata repository
# Changes to project metadata require maintainer review.
* @ColinSullivan1 @derekcollison @kozlovic @aricart @wallyqs @gcolliso @davidkemper @pires @olegshaldibin @ripienaar @watfordgnf @brianshannan @charliestrawn @levb @sasbury @mmmries @philpennock @matthiashanel @scottf @jarema @neilalexander @bruth @piotrpio @yunabraska 
